form {
  display: flex;
  flex-direction: column;
  gap: var(--nn-gap-100);
  width: 100%;
}

label {
  display:none;
  cursor: pointer;
}

#select-license {
  /* appearance: none; */
  color: var(--nn-darkgrey);
  background-color: var(--nn-cream-200);
  border-radius: var(--nn-border-radius-btn-100);
  padding: var(--nn-padding-000);
  font-family: var(--nn-secondary-font-family);
  text-transform: uppercase;
  font-size: var(--font-size-p);
}

#select-license option {
  background-color: var(--nn-cream-100);
  border-radius: none;
}

input {
  width: 100%;
  padding: var(--nn-padding-000);
  background-color: var(--nn-cream-200);
  font-family: var(--nn-secondary-font-family);
  text-transform: uppercase;
  font-size: var(--font-size-p);
  border-radius: var(--nn-border-radius-btn-100);
}

input::placeholder {
  padding: var(--nn-padding-000);
  color: var(--nn-darkgrey);
}

.checkboxes-container {
  display: flex;
  gap: calc(2*var(--nn-gap-100));
}

.checkbox-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: var(--nn-gap-100);
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: var(--nn-border-radius-btn-100);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "X";
}

.checkbox-container label{
  display: flex;
  padding: var(--nn-padding-000);
  font-family: var(--nn-secondary-font-family);
  text-transform: uppercase;
  font-size: var(--font-size-p);
}

.form-next-btn {
  margin-top: calc(3*var(--nn-gap-100));
  width: 100%;
  text-transform: uppercase;
  padding: 8px 10px;
  color: var(--nn-darkgrey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-p-btn);
  border-radius: var(--nn-border-radius-btn-100);
  background-color: var(--nn-white);
  /* filter: drop-shadow(0px 0px 15px #00000028); */
  cursor: pointer;
}