.feed-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
}

.feed-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: var(--nn-animations-time-100) var(--nn-animations-smooth-enter);
}

.feed-image-container img:hover {
  transform: scale(1.02);
}

