.proceed-checkout-btn{
  width: 100%;
  text-transform: uppercase;
  padding: 8px 10px;
  color: var(--nn-darkgrey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-p-btn);
  border-radius: var(--nn-border-radius-btn-100);
  background: var(--nn-cream-300);
  /* filter: drop-shadow(0px 0px 15px #00000028); */
  cursor: pointer;
}

.btn-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 15svw; */
  pointer-events: none;
}

.btn-content a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 15svw; */
  pointer-events: none;
}

.add-to-cart-btn p{
  position: relative;
  bottom: -2px;
  pointer-events: none;
}

.arrow {
  transform: rotate(90deg);
  display: flex;
  position: relative;
  width: 10px;
  height: 10px;
  pointer-events: none;
  /* overflow: hidden; */
}

a{
  width: 100%;
  text-transform: uppercase;
  color: var(--nn-darkgrey);
  text-decoration: none;
}