.add-to-cart-btn {
  width: 80%;
  z-index: 99;
  position: absolute;
  bottom: 50%;
  text-transform: uppercase;
  padding: 8px 10px;
  color: var(--nn-darkgrey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-p-btn);
  border-radius: var(--nn-border-radius-btn-100);
  background: var(--nn-white);
  filter: drop-shadow(0px 0px 15px #00000028);
  cursor: pointer;

  transition: var(--nn-animations-time-100) var(--nn-animations-smooth-enter);

  @starting-style {
    opacity:50%;
    scale:90%;
  }
}

.btn-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 10svw; */
  pointer-events: none;
  text-align: left;
}

.add-to-cart-btn p{
  position: relative;
  bottom: -2px;
  pointer-events: none;
}

.arrow {
  display: flex;
  position: relative;
  width: 10px;
  height: 10px;
  pointer-events: none;
  /* overflow: hidden; */
}
