main{
  display: flex;
}

#image-preview-page .image-preview {
  min-width: 30svw;
  min-height: 30svh;
  max-width: 80svw;
  max-height: 80svh;
  border: none;
  border-radius: var(--nn-border-radius-100);
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}