.hero {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.hero-img-container {
   width: 100%;
   /* height: 100svh; */
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 4;
   position: relative;
   background-image: url('https://res.cloudinary.com/dgrhbsilh/image/upload/v1723055622/21_RTC_P12_react-advanced/pexels-matreding-18111223_a35ou8.jpg');
   background-attachment: fixed;
   background-position: center 85%;
   background-size: cover;
}
  
/* .hero-img-container > img {
    width: 100%;
    position: absolute;
} */

.logo-container {
  display: flex;
}

h1  {
  font-family: var(--nn-main-font-family);
  font-size: 520px;
  color: var(--nn-darkgrey);
  /* line-height: 1; */
  margin-bottom: -25.5%;
}

nav {
  display: flex;
  gap: var(--nn-nav-gap);
  align-items: flex-end;
  flex: 3;
  overflow: hidden;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  font-family: var(--nn-main-font-family);
  text-transform: uppercase;
  color: var(--nn-darkgrey);
}

.test-div {
  height: 200svh;
}