@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
  font-family: "PP Rader";
  /* src: './public/assets/fonts/rader_font/PPRader-Regular.otf' format('opentype'); */
  src: url('/assets/fonts/rader_font/PPRader-Regular.otf') format('opentype');
}
/* reset CSS */
*{
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}
/* END reset CSS */
:root {
  /* FONTS */
  --nn-main-font-family: "PP Rader", monospace; 
  --nn-secondary-font-family: "Lekton", monospace; 
  --font-size-p-btn:12px;
  --font-size-p:1rem;
  --font-size-p-mobile:0.75rem;
  --font-size-h2: 1rem;
  --font-size-h3: 4rem;
  --font-weight-h: 300;
  /* COLORS */
  --nn-white: #ffffff;
  --nn-darkgrey: #323232;
  --nn-cream-100: #f2f0ee85;
  --nn-cream-200: #F1EFED;
  --nn-cream-300: #E8E4E1;
  --nn-cream-op-100: 0.52;
  /* ACCENT */
  --nn-accent-coral: #FFA471;
  --nn-accent-blue: #B1CBCB;
  --nn-accent-green: #B4DD9B;
  /* SPACES */
  --nn-nav-gap: 2rem;
  --nn-gap-000: 4px;
  --nn-gap-100: 1rem;
  --nn-padding-000: 4px;
  --nn-padding-100: 1rem;
  --nn-margin-main-100: 1rem;
  --nn-margin-btn-100: 0.5rem;
  --nn-margin-list-200: 1.5rem;
  /* DETAILS */
  --nn-border-radius-btn-100: 5px;
  --nn-border-radius-000: 0.5rem;
  --nn-border-radius-100: 1rem;
  --border-bottom-dashed: 2px dashed var(--nn-darkgrey);
  /* ANIMATIONS */
  --nn-animations-time-100: 0.25s;
  --nn-animations-time-200: 0.75s;
  --nn-animations-fast-enter: cubic-bezier(0,.69,.3,.98);
  --nn-animations-smooth-enter: cubic-bezier(.17,.01,.3,.98);
}

h1, h2, h3, h4, p {
  font-family: var(--nn-main-font-family);
  line-height: 1.3;
}

h2{
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--font-size-h2);
}

@media screen and (max-width: 800px) {
  main {
    overflow: scroll;
  }
  p {
    font-size: var(--font-size-p-mobile);
  }

  li {
    font-size: var(--font-size-p-mobile);
  }
}