.rate-btn {
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: var(--nn-margin-btn-100);
  text-transform: uppercase;
  background: none;
  color: var(--nn-white);
  cursor: pointer;
}

.ul-ratings {
  position: absolute;
  bottom: calc(0% + 30px);
  right: 0;
  margin: var(--nn-margin-btn-100);
  width: 5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--nn-white);
  list-style: none;
  border-radius: var(--nn-border-radius-000);
  padding: var(--nn-padding-100);
  gap: calc(var(--nn-padding-100));
  filter: drop-shadow(0px 0px 15px #00000028);
  overflow: hidden;
  opacity: 1;
  transition: 1s ease-in-out;
}

.ul-ratings button {
  background-color: transparent;
  color: var(--nn-darkgrey);
  font-family: var(--nn-secondary-font-family);
  text-transform: uppercase;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  transition: 1s ease-in-out;
}