.logo-container {
  display: flex;
  position: relative;
  left: -0.5rem;
}

h1  {
  font-family: var(--nn-main-font-family);
  font-size: 220px;
  color: var(--nn-darkgrey);
  /* line-height: 1; */
  margin-bottom: -25.5%;
}

nav {
  display: flex;
  gap: var(--nn-nav-gap);
  align-items: flex-end;
  /* flex: 3; */
  /* overflow: hidden; */
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  font-family: var(--nn-main-font-family);
  text-transform: uppercase;
  color: var(--nn-darkgrey);
}