.logo-container {
  display: flex;
  position: relative;
  left: -0.5rem;
}

h1  {
  font-family: var(--nn-main-font-family);
  font-size: 300px;
  color: var(--nn-darkgrey);
  padding-left: var(--nn-padding-100);
  position: relative;
  bottom: -105px;
  transition: var(--nn-animations-time-200) var(--nn-animations-smooth-enter);
}

nav {
  display: flex;
  position: relative;
  gap: var(--nn-nav-gap);
  align-items: flex-end;  
  background-color: var(--nn-white);
  width: 100%;
  overflow: hidden;
  z-index: 999;
  /* margin: 0 calc(-1*var(--nn-padding-100)); */
  transition: var(--nn-animations-time-200) var(--nn-animations-smooth-enter);
  padding: var(--nn-padding-100) calc(2*var(--nn-padding-100)) var(--nn-padding-100) var(--nn-padding-100);
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right:  calc(1*var(--nn-padding-100));
}

nav ul li {
  list-style: none;
  font-family: var(--nn-main-font-family);
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  color: var(--nn-darkgrey);
}

.active {
  color: var(--nn-accent-coral);
}